.header{
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1ymusub*_gcl_au*MTIwOTY2MDkzNC4xNzI4MTU0MTEw*_ga*ODkzNDg3NTkwMy4xNzI4MTU0MTAy*_ga_3LRZM6TM9L*MTczMjQ3MzEzOS40MC4xLjE3MzI0NzMxNDIuNTcuMC4w);
    color: khaki;
    font-family: 'Times New Roman';
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}
.brushes{
    background-color: mediumspringgreen;
    font-family: 'Times New Roman';
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.frames{
    background-color: lightcoral;
    font-family: 'Times New Roman';
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.paint{
    background-color: skyblue;
    font-family: 'Times New Roman';
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.blue{
    font-family: 'Times New Roman';
    font-weight: bold;
    color: blue;
}